header {
  width: 100%;
  min-height: 75px;
  height: 5vw;
  font-size: 40px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: 2vw 0vw;
  font-family: $header-font;

}

@media screen and (min-width: 420px) {
  header {
    font-size: 65px;
  }
}