.main-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 75px auto auto auto;

  .welcome {
    color: $header-color;
    font-family: $header-font;
    font-size: 50px;
    font-weight: 900;
  }

  .introduction {
    margin: 50px;
    font-size: 20px;
  }
}