$error-font: 'Questrial', sans-serif;
$header-font: 'Poiret One', cursive;
$body-font: 'Quicksand', sans-serif;
$body-font-color: #1e6262;
$header-color: #2d767f;
$link-color: #f60c86; 
$link-hover: #b4f1f1;

@import '_header';
@import '_nav';
@import '_footer';
@import '_home';
@import '_articles';
@import '_products';
@import '_forms';
 
body {
  margin: 0px;
  font-family: $body-font;
  background-color: #eeeeee;
  color: $body-font-color;
}

.add-new {
  text-decoration: none;
  font-size: 25px;
  color: $link-color;
  font-weight: bolder; 

  &:hover{
    text-decoration: blink;
    color: $link-hover;
  }
}

.buttonDiv {
  text-align: center;
  button {
    background-color: $link-color;
    font-family: $error-font;
    border: none;
    color: $link-hover;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    &:hover {
      background-color: $header-color;
    }
  }
}

.headerText {
  font-family: $header-font;
  font-size: 50px;
}

.main-home {
  padding: 2vw;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.nav-to-new {
  width: 100%;
  margin-top: 2vw;
  height: 9vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
    
}

.titleLink {
  text-decoration: none;
  color: $link-color;
  &:hover {
    color: $link-hover;
  }
}

