$error-font: 'Questrial', sans-serif;
$header-font: 'Poiret One', cursive;
$body-font: 'Quicksand', sans-serif;

@import '_header';
@import '_nav';
@import '_footer';
@import '_articles';
@import '_products';
@import '_forms';
 
body {
  margin: 0px;
  background-color: white;
  font-family: $body-font;
}

.add-new {
  text-decoration: none;
  color: blue;

  &:hover{
    background-color: blue;
    color: white;
  }
}

.main-home {
  padding: 2vw;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.nav-to-new {
  width: 100%;
  margin-top: 2vw;
  height: 9vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
    
}
