<nav class="nav-bar">
  <div class="nav-item">
    <a href="/" class="nav-link">Home</a>
  </div>

  <div class="nav-item">
    <a href="/products" class="nav-link">Products</a>
  </div>

  <div class="nav-item">
    <a href="/articles" class="nav-link">Articles</a>
  </div>
</nav>