<main id="main-home">

  <div class="home-content">
    <div class="welcome">Welcome to your space!</div>
    <div class="introduction">Add, edit, and delete products and articles to your heart's content.</div>
    <div class="space-container">
      <div class="home-add">
        <a class="add-new" href="/products/new"><i class="fas fa-shopping-bag"></i>&nbsp;Add New Product</a>
      </div>
      <div class="home-add">
        <a class="add-new" href="/articles/new"><i class="fas fa-pencil-alt"></i>&nbsp;Add New Article</a>
      </div>
    </div>
  </div>

</main>