header {
  width: 100%;
  font-size: 25px;
  font-style: italic;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center; }

.nav-bar {
  width: 100%;
  background-color: black;
  border-bottom: 4px double white;
  border-top: 4px double white;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .nav-bar .nav-link {
    text-decoration: none;
    color: white; }
  .nav-bar :hover {
    font-style: italic;
    color: lightgray; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.5vw;
  font-size: 9px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid black; }

body {
  margin: 0px;
  background-color: white;
  font-family: arial; }

legend {
  font-size: 25px;
  color: blue; }

.main-home {
  padding: 2vw;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row; }

.nav-to-new {
  width: 100%;
  height: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
