<div class="article">
  <h1 class="title">{{title}}</h1>
  <h3 class="author">By: {{author}}</h3>
  <section class="body">
    {{body}}
  </section>
  <section class="edit">
    <a href="/articles/{{urlTitle}}/edit">Click here to edit.</a>
  </section>
</div>