<h1 class="form-header">New Article Form</h1>

<div class="form-contents">
  <span>Title:&nbsp;</span><input type="text" placeholder="{{title}}"><br>
  <span>Author:&nbsp;</span><input type="text" placeholder="{{author}}"><br>
  <span>Body:&nbsp;</span><input type="text" placeholder="{{body}}"><br>
</div>