<h1 class="form-header">New Article Form</h1>

<div class="form-contents">
  <span>Title:&nbsp;</span><input type="text"><br>
  <span>Author:&nbsp;</span><input type="text"><br>
  <span>Body:&nbsp;</span><input type="text"><br>
</div>