<h1 class="title">Edit Product Form</h1>

<ul>
  <span>Name:&nbsp;</span><input type="text" placeholder="{{name}}"><br>
  <span>Price:&nbsp;</span><input type="text" placeholder="{{price}}"><br>
  <span>Inventory:&nbsp;</span><input type="text"placeholder="{{inventory}}">
</ul>
